<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
   


    <%- include('../partials/nav') %>
   

    <div class="container mt-3">
      <div class="row">
        <div class="col-md-4">

<%- include('../partials/category-menu') %>

         
        </div>
        <div class="col-md-8">
            <h1 class="h3 mb-3"><%=title%></h1>

<% blogs.forEach(blog => { %>

<% if (blog.isForMainPage) { %>

  <%- include('../partials/blog-card',blog) %>
 


  <% } %>


<% }) %>



        
       

        </div>
      </div>
    </div>
</body>
</html>